body {
  background-color: #f0f0f0;
  main {
    padding-top: 70px;
    .marketing {
      fieldset {
        border: 1px solid #000;
        legend {
          margin-top: -20px;
          background: #FFF;
          margin-left: 20px;
          width: 70%;
        }
      }
      ul {
        li {
          list-style: none;
        }
      }
    }
  }
}

@import "~bootstrap/scss/bootstrap";